.login
{
  background-image:url("../assets/background.jpg");
  background-size:cover;
}

#box, #register_box
{


  width: 30%;
  height: auto;
  background-color:rgba(0,200,255,0.7);
  position:absolute;
  top:25%;
  left: 0;
  right: 0;

  margin: auto;
}
#register_box
{
    top:10%;
    padding-bottom: 30px;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin-heading
{
  text-align:center;
}
.form-signin .form-control {
  position: relative;
  height: auto;

  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*input[type="password"]*/
.form-signin {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


#no-registrado
{
  width:100%;
  text-align:center;
  margin:auto;
  margin-bottom: 10px;
}
.container
{
  width:80%;
  float:left;
}
.btn_register
{
  width:85%;	
  margin:auto;
  margin-bottom:20px;
}